
// variable principales
$text-color: black;
// buttona
//boton primario
$bg-primary: blue;
$btn-primary-color: white;
$btn-secondary-color: black;

$btn-primary-hover: rgb(41, 228, 193);
$btn-primary-color-hover: black;


//boton secundario
$bg-card: rgb(188, 188, 188);
$btn-secondary-hover: rgb(0, 0, 0);
$btn-secondary-color-hover: rgb(255, 255, 255);

$title-primary: rgb(9, 75, 9);